@layer base {
  html {
    --primary-0: oklch(0 0 0);
    --primary-4: oklch(0.266 0.112 293.009);
    --primary-6: oklch(0.281 0.122 293.009);
    --primary-10: oklch(0.312 0.141 293.009);
    --primary-12: oklch(0.327 0.15 293.009);
    --primary-17: oklch(0.365 0.173 293.009);
    --primary-20: oklch(0.388 0.187 293.009);
    --primary-22: oklch(0.403 0.197 293.009);
    --primary-24: oklch(0.419 0.206 293.009);
    --primary-30: oklch(0.465 0.234 293.009);
    --primary-40: oklch(0.541 0.281 293.009);
    --primary-50: oklch(0.618 0.234 293.009);
    --primary-60: oklch(0.694 0.187 293.009);
    --primary-70: oklch(0.77 0.141 293.009);
    --primary-80: oklch(0.847 0.094 293.009);
    --primary-87: oklch(0.901 0.061 293.009);
    --primary-90: oklch(0.923 0.047 293.009);
    --primary-92: oklch(0.939 0.037 293.009);
    --primary-94: oklch(0.954 0.028 293.009);
    --primary-95: oklch(0.962 0.023 293.009);
    --primary-96: oklch(0.969 0.019 293.009);
    --primary-98: oklch(0.985 0.009 293.009);
    --primary-100: oklch(1 0 0);

    --secondary-0: oklch(0 0 0);
    --secondary-4: oklch(0 0.014 259.733);
    --secondary-6: oklch(0.018 0.015 259.733);
    --secondary-10: oklch(0.059 0.017 259.733);
    --secondary-12: oklch(0.08 0.018 259.733);
    --secondary-17: oklch(0.133 0.021 259.733);
    --secondary-20: oklch(0.164 0.023 259.733);
    --secondary-22: oklch(0.185 0.024 259.733);
    --secondary-24: oklch(0.206 0.025 259.733);
    --secondary-30: oklch(0.269 0.028 259.733);
    --secondary-40: oklch(0.373 0.034 259.733);
    --secondary-50: oklch(0.477 0.028 259.733);
    --secondary-60: oklch(0.582 0.023 259.733);
    --secondary-70: oklch(0.686 0.017 259.733);
    --secondary-80: oklch(0.791 0.011 259.733);
    --secondary-87: oklch(0.864 0.007 259.733);
    --secondary-90: oklch(0.896 0.006 259.733);
    --secondary-92: oklch(0.916 0.005 259.733);
    --secondary-94: oklch(0.937 0.003 259.733);
    --secondary-95: oklch(0.948 0.003 259.733);
    --secondary-96: oklch(0.958 0.002 259.733);
    --secondary-98: oklch(0.979 0.001 259.733);
    --secondary-100: oklch(1 0 0);

    --tertiary-0: oklch(0 0 0);
    --tertiary-4: oklch(0.288 0.065 48.998);
    --tertiary-6: oklch(0.303 0.071 48.998);
    --tertiary-10: oklch(0.333 0.082 48.998);
    --tertiary-12: oklch(0.347 0.087 48.998);
    --tertiary-17: oklch(0.384 0.101 48.998);
    --tertiary-20: oklch(0.407 0.109 48.998);
    --tertiary-22: oklch(0.422 0.114 48.998);
    --tertiary-24: oklch(0.436 0.12 48.998);
    --tertiary-30: oklch(0.481 0.136 48.998);
    --tertiary-40: oklch(0.555 0.163 48.998);
    --tertiary-50: oklch(0.629 0.136 48.998);
    --tertiary-60: oklch(0.703 0.109 48.998);
    --tertiary-70: oklch(0.778 0.082 48.998);
    --tertiary-80: oklch(0.852 0.054 48.998);
    --tertiary-87: oklch(0.904 0.035 48.998);
    --tertiary-90: oklch(0.926 0.027 48.998);
    --tertiary-92: oklch(0.941 0.022 48.998);
    --tertiary-94: oklch(0.956 0.016 48.998);
    --tertiary-95: oklch(0.963 0.014 48.998);
    --tertiary-96: oklch(0.97 0.011 48.998);
    --tertiary-98: oklch(0.985 0.005 48.998);
    --tertiary-100: oklch(1 0 0);

    --error-0: oklch(0 0 0);
    --error-4: oklch(0.208 0.085 27.518);
    --error-6: oklch(0.225 0.092 27.518);
    --error-10: oklch(0.258 0.106 27.518);
    --error-12: oklch(0.274 0.114 27.518);
    --error-17: oklch(0.315 0.131 27.518);
    --error-20: oklch(0.34 0.142 27.518);
    --error-22: oklch(0.357 0.149 27.518);
    --error-24: oklch(0.373 0.156 27.518);
    --error-30: oklch(0.422 0.177 27.518);
    --error-40: oklch(0.505 0.213 27.518);
    --error-50: oklch(0.588 0.177 27.518);
    --error-60: oklch(0.67 0.142 27.518);
    --error-70: oklch(0.752 0.106 27.518);
    --error-80: oklch(0.835 0.071 27.518);
    --error-87: oklch(0.893 0.046 27.518);
    --error-90: oklch(0.917 0.035 27.518);
    --error-92: oklch(0.934 0.028 27.518);
    --error-94: oklch(0.951 0.021 27.518);
    --error-95: oklch(0.959 0.018 27.518);
    --error-96: oklch(0.967 0.014 27.518);
    --error-98: oklch(0.984 0.007 27.518);
    --error-100: oklch(1 0 0);

    --neutral-0: oklch(0 0 0);
    --neutral-4: oklch(0 0.005 285.805);
    --neutral-6: oklch(0.013 0.006 285.805);
    --neutral-10: oklch(0.055 0.006 285.805);
    --neutral-12: oklch(0.076 0.007 285.805);
    --neutral-17: oklch(0.128 0.008 285.805);
    --neutral-20: oklch(0.16 0.009 285.805);
    --neutral-22: oklch(0.181 0.009 285.805);
    --neutral-24: oklch(0.202 0.01 285.805);
    --neutral-30: oklch(0.265 0.011 285.805);
    --neutral-40: oklch(0.37 0.013 285.805);
    --neutral-50: oklch(0.475 0.011 285.805);
    --neutral-60: oklch(0.58 0.009 285.805);
    --neutral-70: oklch(0.685 0.006 285.805);
    --neutral-80: oklch(0.79 0.004 285.805);
    --neutral-87: oklch(0.863 0.003 285.805);
    --neutral-90: oklch(0.895 0.002 285.805);
    --neutral-92: oklch(0.916 0.002 285.805);
    --neutral-94: oklch(0.937 0.001 285.805);
    --neutral-95: oklch(0.948 0.001 285.805);
    --neutral-96: oklch(0.958 0.001 285.805);
    --neutral-98: oklch(0.979 0 285.805);
    --neutral-100: oklch(1 0 0);

    --neutral-variant-0: oklch(0 0 0);
    --neutral-variant-4: oklch(0 0.004 67.558);
    --neutral-variant-6: oklch(0.019 0.004 67.558);
    --neutral-variant-10: oklch(0.061 0.005 67.558);
    --neutral-variant-12: oklch(0.082 0.005 67.558);
    --neutral-variant-17: oklch(0.134 0.006 67.558);
    --neutral-variant-20: oklch(0.165 0.007 67.558);
    --neutral-variant-22: oklch(0.186 0.007 67.558);
    --neutral-variant-24: oklch(0.207 0.007 67.558);
    --neutral-variant-30: oklch(0.27 0.008 67.558);
    --neutral-variant-40: oklch(0.374 0.01 67.558);
    --neutral-variant-50: oklch(0.478 0.008 67.558);
    --neutral-variant-60: oklch(0.583 0.007 67.558);
    --neutral-variant-70: oklch(0.687 0.005 67.558);
    --neutral-variant-80: oklch(0.791 0.003 67.558);
    --neutral-variant-87: oklch(0.864 0.002 67.558);
    --neutral-variant-90: oklch(0.896 0.002 67.558);
    --neutral-variant-92: oklch(0.917 0.001 67.558);
    --neutral-variant-94: oklch(0.937 0.001 67.558);
    --neutral-variant-95: oklch(0.948 0.001 67.558);
    --neutral-variant-96: oklch(0.958 0.001 67.558);
    --neutral-variant-98: oklch(0.979 0 67.558);
    --neutral-variant-100: oklch(1 0 0);

    --custom-0: oklch(0 0 0);
    --custom-4: oklch(0.2 0.054 242.749);
    --custom-6: oklch(0.217 0.058 242.749);
    --custom-10: oklch(0.25 0.067 242.749);
    --custom-12: oklch(0.267 0.071 242.749);
    --custom-17: oklch(0.308 0.083 242.749);
    --custom-20: oklch(0.333 0.089 242.749);
    --custom-22: oklch(0.35 0.094 242.749);
    --custom-24: oklch(0.367 0.098 242.749);
    --custom-30: oklch(0.417 0.112 242.749);
    --custom-40: oklch(0.5 0.134 242.749);
    --custom-50: oklch(0.583 0.112 242.749);
    --custom-60: oklch(0.667 0.089 242.749);
    --custom-70: oklch(0.75 0.067 242.749);
    --custom-80: oklch(0.833 0.045 242.749);
    --custom-87: oklch(0.892 0.029 242.749);
    --custom-90: oklch(0.917 0.022 242.749);
    --custom-92: oklch(0.933 0.018 242.749);
    --custom-94: oklch(0.95 0.013 242.749);
    --custom-95: oklch(0.958 0.011 242.749);
    --custom-96: oklch(0.967 0.009 242.749);
    --custom-98: oklch(0.983 0.004 242.749);
    --custom-100: oklch(1 0 0);
  }
}
